# fish shell
fish/**/fishd.tlaminator
fish/**/fish_history
fish/**/generated_completions
fish/**/conf.d
fish/**/functions
fish/**/completions
fish/**/fishd.*

# vim
vim/**/plugged
vim/**/shada
vim/**/site
vim/**/viminfo
vim/**/swaps
vim/**/undo
vim/**/plug.vim.old
vim/**/plug.vim

# nvim
nvim/**/shada
nvim/**/site
nvim/**/rplugin.vim

# python
.mypy_cache/
