# vim
vim/**/plugged
vim/**/shada
vim/**/site
vim/**/viminfo
vim/**/swaps
vim/**/undo
vim/**/plug.vim.old
vim/**/plug.vim

# nvim
nvim/**/shada
nvim/**/site
nvim/**/rplugin.vim

# python
.mypy_cache/

# i3
i3/**/*.data
