# fish shell
fish/**/fishd.tlaminator
fish/**/fish_history
fish/**/generated_completions
fish/**/conf.d
fish/**/functions

# vim
vim/**/plugged
vim/**/shada
vim/**/site
vim/**/viminfo
vim/**/swaps
vim/**/undo

# nvim
nvim/**/shada
nvim/**/site
